/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 $gray-base:             #243B4A !default;

 $brand-primary:         darken(#533A7B, 6.5%) !default; // #533A7B
 $brand-success:         #478978 !default;
 $brand-info:            #87BCDE !default;
 $brand-warning:         #f0ad4e !default;
 $brand-danger:          #d9534f !default;

 $navbar-inverse-bg:  $brand-primary !default;

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  padding-top: 100px;
}

.container {
  max-width: 768px;
}

.list-group-item > .follow {
  float: none;
}
