<h2>Get Zwippin'</h2>

<%= form_for @zwipp do |f| %>
  <div class="form-group">
    <%= f.label :text %><br />
    <%= f.text_field :text, autofocus: true, class: "form-control" %>
  </div>

  <div>
    <%= f.submit "Publish zwipp", class: "btn btn-default" %>
  </div>
<% end %>
